<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="gift" src="{{ "/assets/img/gift.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Gift Swap </h3>
    <ul>
      <li> Ruby on Rails </li>
      <li> PostgreSQL </li>
      <li> Bootstrap </li>
    </ul>
    <p>Gift Swap is a 'Secret Santa' organizing application which allows users to create a wishlist with items populated from Amazon, and receive a gift from an anonymous user within their friend group.</p>

    <a class="project-link" href="https://giftswapdbc.herokuapp.com">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="gift" src="{{ "/assets/img/recipebox.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Recipe Box </h3>
    <ul>
      <li> Ruby on Rails </li>
      <li> PostgreSQL </li>
      <li> Materialize </li>
    </ul>
    <p>A recipe organizing app which allows users to create, update, search and rate recipes.</p>

    <a class="project-link" href="https://recipe-manager-dbc.herokuapp.com">Check it out</a>
  </div>
</div>
